*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    font-family: 'Fredoka', sans-serif;
}

body{
    width: 70%;
    margin: 0 auto;
}

header h1{
    color: #e53170;
    text-transform: capitalize;
    font-size: 40px;
    margin-block: 40px;

}
header{
    text-align: center;
}

.card{
    float: left;
    margin: 20px 10px 0;
    color:white;
    background-color: #0f0e17;
    width: calc(88%/3);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
}

img{
    width: 30%;
    margin: 0;
    float: left;
    padding-right: 10px;
}

li{
    margin-top: 3%;
}

ul li:first-child{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
}

ul li:nth-child(2){
    text-transform: capitalize;
}

ul li:last-child{
    color: #56b8c5;
}


.clearbox::after{
    content: "";
    display: table;
    clear: both;
}